<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178599069586-q6tbl4dv7osv6sk4nsmek490aueu9v9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178599069586-q6tbl4dv7osv6sk4nsmek490aueu9v9r</string>
	<key>API_KEY</key>
	<string>AIzaSyA3X9x_qp2tAb4r5EdGabKz9CJvtbPNhA0</string>
	<key>GCM_SENDER_ID</key>
	<string>178599069586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-e6f28</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-e6f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178599069586:ios:b285bbf01a62b1d390e34b</string>
</dict>
</plist>